/*  
 *  Used for everything else
 */ 


/* Default formatting */
body {
    margin: 0;
    background: #4040a1;
    text-align: left;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 52px;
}

p {
    font-family: helvetica;
    font-size: 20px;
}

div.title_box {
	border-radius: 10px 0px 10px 0px;
	background: darkslategray;
	margin-left: 6.66%;
	width: 60%;
	border-color: black;
	border-width: 12px;
	border-style: ridge;
}

h1.title {
	font-family: helvetica;
    text-align: center;
    font-size: 100px;
    color: turquoise;
}

div.background {
    background-image: url('/style_elements/background.png');
    filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: -100;
}


/* Remove link styling */
 a.clean {
	text-decoration: inherit;
	color: inherit;
}

/* Path formatting */

/* unvisited link */
div.path a {
    color: black;
}

/* mouse over link */
div.path a:hover {
    color: hotpink;
}

/* selected link */
div.path a:active {
    color: blue;
} 