/*  
 *  Used for everything else
 */ 

/* Remove link styling */
a.clean {
	text-decoration: inherit;
	color: inherit;
}

a:not(.clean) {
    text-decoration: none;
}

a:not(.clean):hover {
    text-decoration: underline;
}

pre {
    font-family: monospace;
    background: rgb(64 64 64);
    box-shadow: inset 0 0 10px black;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(10, 32, 32);
    padding: 10px 15px 10px 15px;
    color: lightgray;
}


/* Path formatting */

/* unvisited link */
div.path a {
    color: black;
}

/* mouse over link */
div.path a:hover {
    color: hotpink;
}

/* selected link */
div.path a:active {
    color: blue;
} 