/*  
 *  
 */ 

body {
    margin: 0;
	background: skyblue;
    text-align: left;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 52px;
}

p {
    font-family: helvetica;
    font-size: 20px;
}

div.list-entry {
	flex: 1 1 425px;
}

/* Project list formatting */

div.project-preview {
	border-width: 10px;
	border-style: outset;
	border-radius: 10px 0px 10px 0px;
	border-color: gray;
	margin: 25px;

	transition-duration: 100ms;

	box-shadow:
		inset 0px 0px 0px 5px rgb(64, 64, 64),
		2px 2px 5px 5px rgba(0, 0, 0, 0.5),
		/* This is a terrible way to do the background */
		inset 0px 0px 0px 100vh darkslategray;
}

div.project-preview:hover {
	scale: 101%;
}

div.project-preview * {
	position: relative;
	z-index: -1;
}

div.project-preview a {
	display: block;
    height: 100%;
    width: 100%;
	z-index: 10;
}

div.project-preview::after {
	content: "";
  	clear: both;
  	display: table;
}

div.project-preview-text {
	color: white;
	font-family: helvetica;
	font-size: 24px;
}

div.project-list {
	display: flex;
	flex-wrap: wrap;
}

/* Snippet Formatting */

div.snippet {
	margin: 0;
	max-height: 250px;
	min-height: 250px;
}

div.snippet p {
	width: 66%;
	float: left;
	margin-left:2.5%;
	height: 100%;
}

/* Image formatting */

/* 1 image on the right */
img.thumbnail {
	float: right;
	width: 30%;
	height: 250px;
	object-fit: cover;
}
/*  
 *  |-----------------|
 *  |        A        |
 *  |-----------------|
 */ 

img.thumbnail_logo {
	position: absolute;
	right: 0px;
	left: auto;
	margin-right: 10px;
	max-width: 50%;
	max-height: 250px;
	margin-top: 125px;
	transform: translateY(-50%);
}

 /* Functional */

 /*Hide all WIP elements*/
body#wip div.wip {
	visibility: hidden;
	transform: scale(0);
	position: absolute;
}

/*Show if #WIP is in the URI fragment*/
body#wip:target div.wip {
	visibility: visible;
	transform: scale(1);
	position: relative;
}

/*Used to toggle the links for WIP*/
body#wip:target div.anti_wip {
	visibility: hidden;
}

/*Displays in bottom right when WIP viewing is enabled*/
div.wip_notice {
	position:fixed;
	right: 5px;
	bottom: 5px;
	background: red;
}
