
body {
	background: gray;
}

div.content {
	margin-left:100px;
	margin-right:100px;
}

p.sub {
	position: absolute;
	bottom: 0;
	font-style: italic;
}

model-viewer {
	background: rgb(32, 32, 32);
}

input[type=checkbox].content_list {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

label {
  display: inline-block;
  cursor: pointer;
}

input[type=checkbox].content_list + div {
	visibility: hidden;
	height: 0;
}

input[type=checkbox]:checked.content_list + div {
	visibility: visible;
	height: 100%;
}