
/*-------------------------*/
/*----- Default Formatting */
/*-------------------------*/

body {
    margin: 0;
    background: lightblue;
    text-align: left;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 52px;
}

p {
    font-family: helvetica;
    font-size: 20px;
}

/*-----------------------*/
/*----- Image Formatting */
/*-----------------------*/

/* This is the formatting for the profile picture */
img.profile {
	object-fit:cover;
	width: 125px;
	height: 125px;
	border-radius: 70px;
}

/* This is the formatting used for the website link icons */
img.profile-link {
	width: 50px;
	height: 50px;
}

/* This is the formatting used when a project has 1 image*/
img.thumbnail {
	float: right;
	width: 30%;
	height: 250px;
	object-fit: cover;
}

img.split-thumbnail-right {
	float: right;
	width: 33.33%;
	height: 50px;
	object-fit: cover;
}

img.split-thumbnail-mid {
	margin: auto;
	width: 33.33%;
	height: 50px;
	object-fit: cover;
}

img.split-thumbnail-left {
	float: left;
	width: 33.33%;
	height: 50px;
	object-fit: cover;
}

img.banner_thumbnail {
	float: left;
	width:100%;
	height: 50px;
	object-fit: cover;
}

/*-----------------------*/
/*----- Class Formatting */
/*-----------------------*/


/*-----------------*/
/*----- Animations */
/*-----------------*/

/*Base properties of the box containing the profile pic*/
div.profile_box {
	float: right;
	height: 125px;
	width: 125px;
	border-radius: 70px;
	border-style: solid;
	border-width: 8px;
	background: gray;
	
	/*Animates the expansions over 100ms*/
	transition: width 100ms ease-in-out;
}

/*Hide the used to store the links*/
div.profile_box > table {
	visibility: hidden;
	opacity: 0;
	
	/*Animates the opacity over 200ms*/
	transition: opacity 200ms;
}

/*On hover, expand the profile box to fit the table*/
div.profile_box:hover {
	width: 100%;
}

/*On hover, make the table visible & animate in opacity */
div.profile_box:hover > table {
	transition-delay: 100ms;
	visibility: visible;
	opacity: 1;
	
}

/*Hide all WIP elements*/
body#wip div.wip {
	visibility: hidden;
	transform: scale(0);
	position: absolute;
}

/*Show if #WIP is in the URI fragment*/
body#wip:target div.wip {
	visibility: visible;
	transform: scale(1);
	position: relative;
}

/*Used to toggle the links for WIP*/
body#wip:target div.anti_wip {
	visibility: hidden;
}

/*Displays in bottom right when WIP viewing is enabled*/
div.wip_notice {
	position:fixed;
	right: 5px;
	bottom: 5px;
	background: red;
}


/*------------------------*/
/*----- Mobile Formatting */
/*------------------------*/


/* By default hide the mobile elements */
div.format_mobile {
	display: none;
}

/* Apply 'mobile' formatting when ever the site is less than 1050px wide */
@media only screen and (max-width: 1050px) {
	div.format_mobile {
		display: block;
	}
	
	div.format_desktop {
		display: none;
	}
	
	div.title_box {
		width: 80%;
	}
}

/* TODO Organize & label this */
div.background {
    background-image: url('/style_elements/background.png');
    filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: -100;
}

div.title_box {
	border-radius: 10px 0px 10px 0px;
	background: darkslategray;
	margin-left: 6.66%;
	width: 60%;
	border-color: black;
	border-width: 12px;
	border-style: ridge;
}

h1.title {
	font-family: helvetica;
    text-align: center;
    font-size: 100px;
    color: turquoise;
}

div.project-preview {
	background: darkslategray;
	border-width: 8px;
	border-style: ridge;
	border-radius: 10px 0px 10px 0px;
	margin: 25px
}

div.project-preview::after {
	content: "";
  	clear: both;
  	display: table;
}

div.project-preview-text {
	color: white;
	font-family: helvetica;
	font-size: 24px;
}

div.project-list {
	display: flex;
	flex-wrap: wrap;
}

div.list-entry {
	flex: 1 1 425px;
}

object.preview {
	width: 100%;
	height: 250px;
	pointer-events: none;
}

body.snippet {
	background: darkslategray;
	margin: 0;
}

body.snippet p {
	width: 66%;
	float: left;
	margin-left:2.5%;
	height: 100%;
}




/* Removes the automatic formatting for links */
a.clean {
	text-decoration: inherit;
	color: inherit;
}


span.tab {
    display: inline-block;
    margin-left: 60;
}

